.img{
    height: 80px;
    width: 60px;
    /* min-width: 100px! important; */
    margin-bottom: 2px;
}
.img-thumbnail{
    height: 80px;
    width: 60px;
}
.nv-file-over{
    border: dotted 4px red;
}
.input-file{
    color: transparent;
}