<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches....all</p>

    <div class="text-center">
      <ng-container *ngIf="!(accountService.currentUserObservable$ | async)">
        <button class="bn btn-primary btn-lg mr-2" (click)="registerToggle()">
          Register
        </button>
        <button class="bn btn-primary btn-lg">Learn More</button>
      </ng-container>
      <button
        *ngIf="accountService.currentUserObservable$ | async"
        class="bn btn-primary btn-lg"
        routerLink="/members"
      >
        Go To List
      </button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        signup goes here
        <app-sign-up
          (cancleRegisterMode)="cancelRegister($event)"
        ></app-sign-up>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row justify-content-center">
      <button class="bn btn-primary btn-lg" (click)="handleClick()">{{toggle?"Hide":"Show"}}</button>
      <h1 *ngIf="toggle">Helloi limon</h1>
    </div>
   </div> -->
</div>
