<div class="text-center mt-3">
  <h2>
    {{ predicate === "liked" ? "Members I like" : "Members who like me" }}

    <!-- : {{ pagination.totalIteams }} -->
  </h2>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="btn-group">
      <button
        class="btn btn-primary"
        [(ngModel)]="predicate"
        btnRadio="liked"
        (click)="loadLikes()"
      >
        Members I like
      </button>
      <button
        class="btn btn-primary"
        [(ngModel)]="predicate"
        btnRadio="likedBy"
        (click)="loadLikes()"
      >
        Members who like me
      </button>
    </div>
  </div>

  <br />
  <!-- <div>
    <label for="">Items Per Page</label>
    <select
      class="form-control ml-1"
      style="width: 130px"
      id="pagination.iteamsPerPage"
      [(ngModel)]="pagination.iteamsPerPage"
      (ngModelChange)="onPageOptionsSeletecd($event)"
      name="pagination.iteamsPerPage"
    >
      <option *ngFor="let page of pageSizeOptions" [value]="page.value">
        {{ page.value }}
      </option>
    </select>
  </div> -->
  <br />
  <div class="row">
    <div
      *ngFor="let member of members"
      class="col-sm-6 col-md-4 col-lg-4 col-xl-2"
    >
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
